click==6.7
decorator==4.0.11
Flask==0.12.2
Flask-Moment==0.5.1
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
mistune==0.7.4
pbr==3.0.1
psycopg2==2.7.1
six==1.10.0
SQLAlchemy==1.1.10
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
Werkzeug==0.12.2
